* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: open sans;
  color: #555;
}

button {
  cursor: pointer;
}

.app {
  height: 100vh;
  display: flex;
  padding: 1rem;
}

.menu {
  flex: 1;
}

.details {
  flex: 1.5;
}

.tasklist {
  flex: 2;
  padding: 0 1rem;
}

.menu,
.details {
  background-color: hsl(0, 0%, 97%);
  padding: 1rem;
  border-radius: 1rem;
}

.task {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px #eee solid;
}

.task:hover {
  background-color: #eee;
}

.task input[type=checkbox] {
  margin-right: 1rem;
}

.task p {
  flex: 1;
  padding: 5px 0;
}

.task.done p {
  text-decoration: line-through;
}

.task button {
  display: none;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.task:hover button {
  display: inline;
}

.tasklist header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasklist header button {
  border-radius: 50%;
  background-color: hsl(200, 100%, 50%);
  color: white;
  width: 35px;
  height: 35px;
  border: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DETAILS */

.details form {
  display: flex;
  flex-direction: column;
}

.details form :is(input, textarea) {
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 5px;
  font-family: open sans;
}

.details form textarea {
  height: 10rem;
  resize: none;
}

.details form button {
  width: fit-content;
  padding: 10px 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.details form button:hover {
  background-color: rgb(0, 170, 0);
}

.details form button:active {
  background-color: green;
}